@import '../../sass/abstracts/abstracts';

.Cart {
  margin: 2rem 0;
}

.card {
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.column {
  padding: 1rem 0;
  align-self: center;
}

.cartImage {
  width: 20rem;
}

.price {
  font-size: 2rem;
}
