@import '../../sass/abstracts/abstracts';

.Cart {
  margin: 2rem 0;

  &__table {
    border-top: 1px solid $color-grey-light-3;
    border-bottom: 1px solid $color-grey-light-3;
  }

  &__column {
    padding: 1rem 0;
    align-self: center;
  }

  &__price {
    font-size: 2rem;
    color: $color-grey-dark-1;
  }
}
