@import '../../sass/abstracts/abstracts';

.RingProduct {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin: 2rem 0 4rem 0;

    @include bp(tab-port) {
      grid-template-columns: 1fr;
      margin: 2rem 0 8rem 0;
      padding: 0 2rem;
    }
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      margin: 1rem 0;
    }
  }

  &__header {
    font-size: 2rem;
  }

  &__name {
    font-size: 1.6rem;
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  &__price {
    font-size: 3rem;
    color: $color-primary-dark;
  }

  &__btn_shop {
    padding: 1rem 2rem;
    width: 50%;
    background-color: $color-primary;
    color: $color-grey-dark-3;
    border: 2px solid $color-black;
    transition: all 0.1s;
    box-shadow: $shadow-sm;

    &:hover {
      background-color: $color-primary-light;
      color: $color-grey-dark-2;
      transform: translateY(-0.2rem);
      box-shadow: $shadow-md;
    }

    &:focus {
      outline: none;
      transform: translateY(0);
      box-shadow: $shadow-sm;
    }
  }
}
