//MIXINS

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media query manager

/*
xs: 0-600px: Phone 
sm: 600 - 900px: Tablet portrat
md: 900 - 1200px: Tablet landscape
[1200 - 1800px]: normal styling
lg: 1800px +:  Big desktop
*/

// ORDER: Base + typography > general layout + grid > page layout > components

//em (rem doesn't work) in media queries based on browser font.
@mixin bp($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}

// Variables
//COLORS
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;
$color-grey-light-3: #d9d9d9;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-primary: #ffee58;
$color-primary-light: #ffff8b;
$color-primary-dark: #c9bc1f;

$color-secondary: #1976d2;
$color-secondary-light: #63a4ff;
$color-secondary-dark: #004ba0;

$color-tertiary: #424242;
$color-tertiary-light: #6d6d6d;
$color-tertiary-dark: #1b1b1b;

$color-wg: #f5f5f5;
$color-yg: #fff176;
$color-rg: #ffab91;

// BOX SHADOW
$shadow-xxs: 0 0.5rem 0.5rem rgba($color-black, 0.05);
$shadow-xs: 0 0.5rem 2rem rgba($color-black, 0.08);
$shadow-sm: 0 0.8rem 2.5rem rgba($color-black, 0.1);
$shadow-md: 0 1.5rem 4rem rgba($color-black, 0.15);
$shadow-lg: 0 2rem 5rem rgba($color-black, 0.2);

$shadow-smooth-xs: 0 0.1rem 0.1rem rgba($color-black, 0.2), 0 0.2rem 0.2rem rgba($color-black, 0.16),
  0 0.4rem 0.4rem rgba($color-black, 0.12), 0 0.8rem 0.8rem rgba($color-black, 0.08);

$shadow-smooth-sm: 0 0.1rem 0.1rem rgba($color-black, 0.2), 0 0.2rem 0.2rem rgba($color-black, 0.16),
  0 0.4rem 0.4rem rgba($color-black, 0.12), 0 0.8rem 0.8rem rgba($color-black, 0.08),
  0 1.6rem 1.6rem rgba($color-black, 0.04);

$shadow-smooth-md: 0 0.1rem 0.1rem rgba($color-black, 0.07),
  0 0.2rem 0.4rem rgba($color-black, 0.07), 0 0.4rem 0.8rem rgba($color-black, 0.07),
  0 0.8rem 1.6rem rgba($color-black, 0.07), 0 1.6rem 3.2em rgba($color-black, 0.07);

// BORDER RADIUS
$border-radius-sm: 0.3rem;
$border-radius-md: 0.6rem;
$border-radius-lg: 1rem;

// DIMENSIONS
$width-main: 80%;
$top-menu-height: 7rem;

// FONT SIZE
$default-font-size: 1.6rem;
