@import '../../../sass/abstracts/abstracts';

.DiamondCatalogFilter {
  @include bp(tab-port) {
    margin: 2rem 0;
  }

  &__filter {
    display: inline-block;
    margin: 0 2rem;

    @include bp(tab-port) {
      margin: 0;
    }
  }

  & > div {
    text-align: left;
  }

  &_desktop {
    margin: 1rem 0;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    @include bp(tab-port) {
      display: none;
      visibility: hidden;
    }
  }

  &_mobile {
    grid-template-columns: 1fr;
    display: none;

    @include bp(tab-port) {
      display: grid;
      visibility: visible;
    }
  }
}
