@import '../../../sass/abstracts/abstracts';

.RangeSlider {
  &__rangeInputs {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    font-size: 1.2rem;
    width: 7rem;

    @include bp(tab-port) {
      width: 8rem;
      font-size: 1.4rem;
    }
  }
}
