@import '../../../sass/abstracts/abstracts';

.ProductImageGallery {
  display: flex;
  align-items: center;

  @include bp(tab-port) {
    flex-direction: column;
  }

  &__mainImage {
    width: 85%;
    @include bp(tab-port) {
      order: 1;
    }
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    margin: 1rem 0;

    @include bp(tab-port) {
      flex-direction: row;
      order: 2;
    }
  }

  &__image {
    width: 100%;
    padding: 0.2rem;

    &_selected {
      border: 2px solid $color-primary-dark;
    }

    &_unselected {
      border: 1px solid $color-grey-light-1;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
