@import '../../../sass/abstracts/abstracts';

.Totals {
  margin: 1rem 0;

  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  &__column {
    align-self: center;
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  &__price {
    font-size: 2rem;
    color: $color-grey-dark-1;
  }
}
