@import '../../../sass/abstracts/abstracts';

.CatalogImageGallery {
  &__mainImage {
    max-width: 20rem;
  }

  &__gallery {
    display: inline-block;
    margin: 1rem 0;
    @include clearfix;
  }

  &__image {
    float: left;
    width: 4.5rem;
    padding: 0.2rem;

    &_selected {
      border: 2px solid $color-primary-dark;
    }

    &_unselected {
      border: 1px solid $color-grey-light-3;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
