@import '../../../sass/abstracts/abstracts';

.MetalSelection {
  &__options {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;

    border-radius: 50%;

    &_selected {
      border: 1px solid $color-grey-dark-2;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__name {
    font-size: 1.2rem;
    color: $color-grey-dark-1;
  }
}

.wg {
  background-color: $color-wg;
}

.yg {
  background-color: $color-yg;
}

.rg {
  background-color: $color-rg;
}
