@import '../../../sass/abstracts/abstracts';

.FilterBar {
  width: 100%;
  height: 100%;
  margin: 2rem 0;
  border-bottom: 1px solid $color-grey-light-2;

  @include bp(tab-port) {
    border-bottom: none;
  }

  &__filter {
    padding: 0 1rem;

    &_right {
      justify-self: end;
    }
  }

  &_desktop {
    display: grid;
    grid-template-columns: 15% 15% 70%;

    @include bp(tab-port) {
      display: none;
    }
  }

  &_mobile {
    grid-template-columns: 1fr;

    display: none;
    @include bp(tab-port) {
      display: block;
    }
  }
}
