@import '../../../sass/abstracts/abstracts';

.SortDropDown {
  &__anchor {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: left;
  }

  &__header {
    color: $color-grey-dark-3;
    font-weight: 500;
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 20rem;
    padding: 2rem 1rem 2rem 2rem;

    background-color: $color-white;
    border-left: 1px solid $color-grey-light-2;
    border-bottom: 1px solid $color-grey-light-2;
    border-right: 1px solid $color-grey-light-2;
    z-index: 10;
  }

  &__button {
    display: flex;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;

    background-color: transparent;
    border: none;
    color: $color-grey-dark-3;

    &:hover {
      color: $color-primary;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

.icon_chevron {
  margin-left: 1rem;
  color: $color-primary-dark;
}

.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 1;
  transition: all 0.1s ease-in;
}

.fadeExit {
  opacity: 1;
  /* transform: translateX(0%); */
}

.fadeExitActive {
  opacity: 0;
  /* transform: translateX(100%); */
  transition: all 0.1s ease-out;
}

@import '../../../sass/abstracts/abstracts';
