@import '../../sass/abstracts/abstracts';

.Home {
  max-width: 70rem;
  margin: 0 auto;

  @include bp(tab-port) {
    padding: 0 0.5rem;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include bp(tab-port) {
      flex-direction: column;
    }

    &_left {
      flex-basis: 60%;

      @include bp(tab-port) {
        flex: 1;
        order: 2;
      }
    }

    &_right {
      flex-basis: 30%;

      @include bp(tab-port) {
        flex: 1;
        order: 1;
      }
    }
  }

  &__header {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    @include bp(tab-port) {
      flex-wrap: wrap;
    }

    & > * {
      width: 50%;

      @include bp(tab-port) {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }

  &__img {
    width: 100%;

    @include bp(tab-port) {
      width: 60%;
    }
  }
}
