@import '../../../sass/abstracts/abstracts';

.ProductMetalSelection {
  &__name {
    color: $color-grey-dark-1;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__label {
    font-weight: 700;
    color: $color-grey-dark-3;
  }

  &__options {
    display: inline-block;
    width: 6rem;
    height: 4rem;
    margin-bottom: 1rem;
    color: $color-white;
    line-height: 4rem;

    &_selected {
      border: 2px solid $color-primary-dark;
      font-weight: 600;
      color: $color-grey-dark-3;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.wg {
  background-color: $color-wg;
}

.yg {
  background-color: $color-yg;
}

.rg {
  background-color: $color-rg;
}
