.AccountSwitch {
  padding-top: 16px;
  color: #999ba0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.AccountSwitch a {
  text-decoration: none;
  color: rgba(176, 178, 230, 1);
  font-weight: 500;
}

.AccountSwitch a:hover {
  text-decoration: underline;
}
