@import '../../../sass/abstracts/abstracts';

.Navbar {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid $color-grey-light-3;

  @include bp(tab-port) {
    display: none;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;

    &_item {
      flex-basis: 30%;
      font-size: 2rem;
      padding: 1rem 3rem;

      a {
        text-decoration: none;
        color: $color-tertiary-dark;

        &:hover {
          color: $color-primary-dark;
        }
      }
    }
  }
}
