@import '../../../sass/abstracts/abstracts';

$width: 2rem;

.Card {
  float: left;
  width: calc(32% - #{$width});
  margin: 0 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: $color-white;

  border: 1px solid $color-white;

  @include bp(tab-port) {
    width: calc(50% - #{$width});
  }

  &:hover {
    border: 1px solid $color-grey-light-2;
    border-radius: $border-radius-md;
    box-shadow: $shadow-xxs;
  }

  margin-bottom: 2rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
