@import '../../sass/abstracts/abstracts';

$block-height: 9rem;
$arrow-height: $block-height / 2;
$arrow-width: 0.6rem;

.ProgressBar {
  padding: 0 2rem;

  @include bp(tab-port) {
    padding: 0;
  }

  &__bar {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 2fr;
    // gap: 0.4rem;
    border: 0.3rem solid $color-grey-light-1;

    @include bp(tab-port) {
      grid-template-columns: 2fr 2fr 1fr;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    position: relative;
    height: $block-height;
    padding: 1rem;

    // #region
    &:not(:first-child)::before {
      content: '';
      position: absolute;
      top: 0;
      left: -$arrow-width;
      width: 0;
      height: 0;
      border-top: $arrow-height solid $color-grey-light-1;
      border-left: $arrow-width solid transparent;
      border-bottom: $arrow-height solid $color-grey-light-1;
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 0;
      right: -$arrow-width;
      width: 0;
      height: 0;
      border-top: $arrow-height solid transparent;
      border-left: $arrow-width solid $color-grey-light-1;
      border-bottom: $arrow-height solid transparent;
    }
    // #endregion

    &_first {
      @include bp(tab-port) {
        display: none;
      }
    }

    &_highlight {
      // clip-path: polygon(-20% 0%, 90% 0%, 95% 50%, 90% 100%, -20% 100%, -10% 50%);
      background-color: $color-grey-light-1;

      // #region
      &:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 0;
        right: -$arrow-width;
        width: 0;
        height: 0;
        border-top: $arrow-height solid transparent;
        border-left: $arrow-width solid $color-grey-light-1;
        border-bottom: $arrow-height solid transparent;
      }
      //#endregion
    }
  }

  &__step {
    flex-basis: 14%;
    font-size: 3rem;
    color: $color-grey-dark-3;

    @include bp(tab-port) {
      display: none;
    }
  }

  &__content {
    flex: 2;

    &_last {
      flex: 1;
    }
  }

  &__image {
    z-index: 20;
    flex: 1;
    width: 5rem;

    @include bp(tab-port) {
      display: none;
    }

    &_ring {
      width: 5rem;
    }

    &_diamond {
      width: 4rem;
    }
  }

  &__header {
    font-size: 1.5rem;

    &_empty {
      font-size: 1.7rem;

      a {
        text-decoration: none;
        color: $color-grey-dark-1;
      }
    }
  }

  &__description {
    @include bp(tab-port) {
      display: none;
    }
  }

  &__links {
    font-size: 1.2rem;

    a:link,
    a:visited {
      text-decoration: none;
      color: $color-primary-dark;
      padding: 0 0.5rem;
    }

    a:active,
    a:hover {
      text-decoration: underline;
      color: $color-primary;
    }
  }
}
